@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    /* @apply bg-background text-foreground; */
  }
}

/* @layer components { */
/* .post {
  scroll-timeline: --scale-progress block;
}

.line {
  animation: scale auto linear;
  animation-timeline: --scale-progress;
}


@keyframes scale {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
} */

/* } */

.scene {
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  gap: 20px;
  border: 1px solid red;
}

.carousel__cell {
  /* position: absolute; */
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
}

.carousel__cell:nth-child(1) {
  background-color: blue;
  /* transform: rotateY(0deg); */
}

.carousel__cell:nth-child(2) {
  background-color: red;
  /* transform: rotateY(40deg); */
}

.carousel__cell:nth-child(3) {
  background-color: green;
  /* transform: rotateY(80deg); */
}

.carousel__cell:nth-child(4) {
  background-color: violet;
  /* transform: rotateY(120deg); */
}

.carousel__cell:nth-child(5) {
  background-color: brown;
  /* transform: rotateY(160deg); */
}

.carousel__cell:nth-child(6) {
  background-color: orange;
  /* transform: rotateY(200deg); */
}

.carousel__cell:nth-child(7) {
  background-color: aqua;
  /* transform: rotateY(240deg); */
}

.carousel__cell:nth-child(8) {
  background-color: teal;
  /* transform: rotateY(280deg); */
}

.carousel__cell:nth-child(9) {
  background-color: blueviolet;
  /* transform: rotateY(320deg); */
}

.scroll-animate {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.gradient {
  /* background-image: linear-gradient(90deg, red 0 100px, blue 100px 100%) */
  /* background-image: linear-gradient(red 0%, 25%, orange 25%, yellow 50%, green 75%, blue 100%); */




  /* background-image: linear-gradient(in hsl longer hue, red, green, blue) */
  background: linear-gradient(45deg, rgb(221, 89, 89), rgb(117, 117, 247));
}

/* .gradient:hover {
  background-image: linear-gradient(90deg, red 0 50%, blue 50% 100%);
  transition: background-image 0.5s linear;
} */